nav ul {
  background-color: #4e26ff;
  width: 100%;
  border-radius: 50%;
  padding: 0.5rem;
  justify-content: center;
  justify-content: space-around; }
  nav ul li .nav-link {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    padding: 0.5rem; }
  nav ul li:hover {
    background-color: #00ee9f;
    border-radius: 50%;
    align-self: center; }

.toggler {
  background-color: #00ee9f; }

h1 {
  font-family: 'Sanchez', serif;
  font-size: 2rem;
  color: aqua;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  background-color: #111110; }

h2 {
  font-size: 1.5rem;
  color: #73ee73;
  width: 20rem;
  font-family: 'Sanchez', serif;
  text-align: center;
  justify-content: center;
  background-color: #00668f;
  border-radius: 80%;
  margin: auto; }

h4 {
  font-size: 20px;
  color: #73ee73;
  width: 150px;
  font-family: 'Sanchez', serif;
  text-align: center;
  margin-bottom: 10px;
  background-color: #0eaceb;
  border-radius: 80%;
  margin: auto;
  margin-bottom: 15px; }

h6 {
  font-family: 'Kreon', serif;
  color: aqua;
  margin: 5px 5px 5px 5px;
  text-align: center; }

.two {
  width: 100%;
  display: flex;
  display: inline-block;
  align-items: center;
  justify-content: center; }
  .two img {
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    justify-content: center;
    border-radius: 5%; }
  .two p {
    font-size: 16px;
    font-family: 'Kreon', serif;
    color: aquamarine;
    padding: 2rem;
    background-color: #464646;
    border: 2px solid chartreuse;
    border-radius: 4%;
    text-align: justify;
    justify-content: center; }

.tat1 {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: auto; }
  .tat1 img {
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    border-radius: 50%; }
  .tat1 p {
    font-size: 16px;
    font-family: 'Kreon', serif;
    color: aquamarine;
    text-align: justify;
    margin-left: 20px; }

.iframes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .iframes iframe {
    border: 2px solid chartreuse; }

.form-control, .form-select {
  border: 2px solid chartreuse; }

#forum {
  background-color: #566788;
  border-radius: 5%; }

#formulario {
  background-color: #568858;
  border-radius: 5%;
  padding-bottom: 1rem; }

#exampleFormControlInput1, #exampleFormControlTextarea1 {
  border: 2px solid #0909f5; }

.carousel-item img:hover {
  border: 2px solid chartreuse; }

.product img:hover {
  border: 2px solid chartreuse; }

footer div p {
  font-size: 18px;
  color: #73ee73;
  text-align: center; }

.logo {
  width: 100%;
  max-height: 400px; }
