.form-control, .form-select {
    border: 2px solid $bordeColor;
}

#forum {
    background-color: $forumBgColor;
    border-radius: 5%;
}

#formulario {
    background-color: $formularioBgColor;
    border-radius: 5%;
    padding-bottom: 1rem;
}

#exampleFormControlInput1, #exampleFormControlTextarea1 {
    border: 2px solid $borde2Color;
}

.carousel-item img:hover {
    border: 2px solid chartreuse;
}

.product img:hover {
    border: 2px solid chartreuse;
}