@import "variables";

@mixin titulos ($fuente, $fSize, $ancho, $color, $bgColor) {
    font-family: $fuente;
    font-size: $fSize;
    width: $ancho;
    color: $color;
    background-color: $bgColor;
    text-align: center;
    justify-content: center;
}
h1 {
    @include titulos ($fontStyle1, 2rem, 100%, aqua, $h1BgColor);
    padding-bottom: 20px;
}

h2 {
    @include titulos ($fontStyle1, 1.5rem, 20rem, $titleColor, $h2BgColor);
    border-radius: 80%;
    margin: auto;
}

h4 {
    @include titulos ($fontStyle1, 20px, 150px, $titleColor, $h4BgColor);
    border-radius: 80%;
    margin: auto;   
    margin-bottom: 15px; 

}

h6 {
    font-family: 'Kreon', serif;
    color: aqua;
    margin: 5px 5px 5px 5px;
    text-align: center;
}
