$navColor: rgb(78, 38, 255);
$hoverColor: rgb(0, 238, 159);
$titleColor: rgb(115, 238, 115);
$h1BgColor: rgb(17, 17, 16);
$h2BgColor: rgb(0, 102, 143);
$h4BgColor: rgb(14, 172, 235);
$bordeColor: rgb(127, 255, 0);
$borde2Color: rgb(9, 9, 245);
$forumBgColor: rgb(86, 103, 136);
$formularioBgColor: rgb(86, 136, 88);
$pBgColor: rgb(70, 70, 70);
$fontStyle1: 'Sanchez', serif;
$fontStyle2: 'Kreon', serif;